/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-icons/iconfont/material-icons.css';

.fa-spinner {
  margin: 7px;
}

span {
  vertical-align: super;
  margin-left: 7px;
}

.fa-exclamation-triangle {
  margin: 7px;
}

